[Desktop Entry]
Name=Celestial Tools
Comment=Tools for creating celestial worlds and live skybox
Exec=terrainjumper
Icon=celestialtools
Terminal=false
Type=Application
Categories=Game;Development
